[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
django-registration-redux = "*"
django-crispy-forms = "*"
psycopg2 = "*"
python-dotenv = "*"
dj-database-url = "*"
django-bootstrap4 = "*"
django-star-ratings = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.8"
