{%extends 'base.html'%}
{%load static%}
{% block content %}
<!-- project section -->
<div class="container-fluid p-5">
    <div class="mb-2 pb-2 pl-4 pr-2 ml-4 mr-1 text-center">
        <h3 class="display-35 font-weight-bold"> Awwards</h3>
        <p class="px-5">Review and Rate Your best sites. You can also post yours to be reviewed!</p>
    </div>
    <hr>
    <div class="row">

        {% for project in projects %}

        <div class="col-md-4">
            <div class="card-deck">
                <div class="card mb-2 mt-2 ">
                    <!-- Card image -->
                    <div class="view overlay zoom bg-image hover-zoom ">
                        {% if project.screenshot %}
                        <a href="/projects/{{project.id}}">
                            <img class="card-img-top" src="{{project.screenshot.url}}"
                            alt="{{ project.title }}" height="300px" width="320">
                        </a>
                        {% else %}
                        <a href="/project/{{project.id}}">
                            <img class="card-img-top" src="https://source.unsplash.com/1600x900/?fun,vacation"
                                alt="{{ project.title }}">
                        </a>
                        {% endif %}
                    </div>

                    <div class="card-body pr-2 pl-2 pr-2 mr-2">
                        <h5 class="card-title ml-4">{{ project.title }}</h5>
                        <div class="row ml-2">
                            <div class="col-lg-6 dark-text">
                                <small class="text-muted ml-2">
                                    <img src="{{ project.author.profile.photo.url }}" 
                                    class="rounded-circle img-fluid mr-1" style="width: 30px;">
                                    posted By: {{project.author|upper}}
                                </small>
                            </div>
                            <div class="col-lg-6 dark-text d-flex justify-content-end">
                                <small>{{project.date_added|date:"d /m/Y"}} </small>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- end of card deck  -->
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}